$primarycolor: #ffc857;

$secondarycolor: #1f2041;
$softsecondarycolor: #9a9cc2;

$middlesecondarycolor: #4b3f72;
$softmiddlesecondarycolor: #aba1cc;

$terciarycolor: #19647e;
$softterciarycolor: #95c4d3;
$softterciarycolorTransparent: #95c3d37c;

$middleterciarycolor: #119da4;
$softmiddleterciarycolor: #96d6da;
