html {
    font-size: 62.5%;
    font-family: nunito;
}

body {
    background-color: beige;
    margin: 0;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 1.8rem;
}

h3 {
    font-size: 1.3rem;
}

h4 {
    font-size: 1.2rem;
}
