header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;

    background-color: $primarycolor;

    .title {
        color: white;
        margin: 2rem 0;
    }

    .nav__btn {
        margin-right: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;

        cursor: pointer;

        .upper {
            @include nav;
            transition: all 0.5s;
        }

        .down {
            @include nav;
            transition: all 0.5s;
        }
    }
}

.user__nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 3rem 0;
    gap: 1rem;

    .login__btn {
        background-color: transparent;

        &:hover {
            color: white;
            background-color: $primarycolor;
        }
    }

    .register__btn {
        background-color: $softmiddlesecondarycolor;

        &:hover {
            background-color: $middlesecondarycolor;
            color: white;
        }
    }

    .logout__btn {
        background-color: rgb(255, 78, 78);

        &:hover {
            background-color: rgb(183, 12, 12);
            color: white;
        }
    }
}
