.food__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
    gap: 2rem;
    margin: 2rem;
    width: 90vw;

    @include desktop {
        width: inherit;
    }

    .food__container {
        display: flex;
        flex-direction: column;
        max-height: 40rem;
        cursor: pointer;
        background-color: white;
        width: inherit;

        .food__image {
            width: 100%;
            height: 80%;
        }

        h3 {
            font-size: 2rem;
        }

        .title__container {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 20%;
            position: relative;
            background-color: white;

            .recipes_counter {
                position: absolute;
                display: flex;
                align-items: center;
                gap: 1rem;
                right: 1rem;

                .recipes {
                    font-size: 1.8rem;
                    color: $softsecondarycolor;
                }

                h4 {
                    color: $secondarycolor;
                    font-size: 1.5rem;
                }
            }
        }
    }
}
