.food__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 2rem;
    margin: 2rem 0rem;

    .food__container {
        display: flex;
        flex-direction: column;
        max-height: 25rem;
        cursor: pointer;
        background-color: white;

        .food__image {
            width: 100%;
            height: 80%;
        }

        .title__container {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 20%;
            position: relative;
            background-color: white;

            .recipes_counter {
                position: absolute;
                display: flex;
                align-items: center;
                gap: 1rem;
                right: 1rem;

                .recipes {
                    font-size: 1.7rem;
                    color: $softsecondarycolor;
                }

                h4 {
                    color: $secondarycolor;
                }
            }
        }
    }
}
