.recipes__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 2rem;
    padding: 0 0 3rem 0;

    .recipe__container {
        display: flex;
        flex-direction: column;
        height: 46rem;
        background-color: rgb(255, 255, 255);

        &--title {
            display: flex;
            align-items: center;
            justify-content: start;
            height: 10%;
            gap: 2rem;
            padding: 2rem;

            .user__image {
                height: 5rem;
                border-radius: 50%;
            }

            .recipe__title {
                display: inline-table;
                gap: 0.1rem;

                h3 {
                    color: darkgray;
                }
            }
        }

        .recipe__image {
            width: 100%;
            max-height: 24rem;
        }

        .info__container {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 1rem 0;

            .recipe__info {
                display: flex;
                justify-content: space-between;
                width: 80%;
                padding: 0 2rem;

                .recipe__tag {
                    display: flex;
                    align-items: center;
                    gap: 1rem;

                    .tag {
                        font-size: 1.7rem;
                        color: $softsecondarycolor;
                    }
                }

                h4 {
                    text-transform: capitalize;
                }
            }

            .recipe__btn {
                background-color: $primarycolor;
                color: white;
            }

            .delete-recipe__btn {
                margin: 1rem 0;
                background-color: rgb(230, 49, 49);
                color: white;
            }
        }
    }
}
