.user__profile {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    min-height: 100vh;

    img {
        width: 50%;
        border-radius: 50%;
        margin-top: 2rem;

        @include desktop {
            width: 14%;
            margin-top: 4rem;
        }
    }

    h2 {
        width: 20%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 4rem;
        border: 1px solid rgb(215, 215, 215);
    }

    .user__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        width: 90vw;

        .info__btn {
            border: 1px solid rgb(211, 211, 211);
            border-radius: 0.7rem;
            width: 40%;
            height: 3rem;
            background-color: rgb(252, 252, 252);
            color: rgb(89, 89, 89);
            cursor: pointer;

            @include desktop {
                width: 20%;
                height: 5rem;
            }

            &:hover {
                background-color: $primarycolor;
                color: black;
            }
        }

        .edit__btn {
            border: 1px solid rgb(211, 211, 211);
            border-radius: 0.7rem;
            width: 40%;
            height: 3rem;
            background-color: rgb(252, 252, 252);
            color: rgb(89, 89, 89);
            cursor: pointer;

            @include desktop {
                width: 20%;
                height: 5rem;
            }

            &:hover {
                background-color: $primarycolor;
                color: black;
            }
        }
    }

    .user__info {
        margin: 2rem;
        padding: 2rem;
        width: 80vw;
        border: 1px solid rgb(203, 203, 203);
        border-radius: 1rem;
        color: rgb(41, 41, 41);
    }

    .user__edit {
        border: 1px solid rgb(203, 203, 203);
        margin: 2rem;
        border-radius: 1rem;

        @include desktop {
            width: 45%;
            align-self: center;
            padding: 3rem;
        }

        .form__user {
            display: flex;
            flex-direction: column;
            padding: 1.4rem;

            label {
                margin: 0.5rem 0;
                font-size: 1.2rem;

                @include desktop {
                    font-size: 1.5rem;
                    margin: 1rem 0;
                }
            }

            input {
                @include desktop {
                    height: 3rem;
                }
            }

            select {
                @include desktop {
                    height: 3rem;
                }
            }

            button {
                width: 90%;
                align-self: center;
                margin-top: 2rem;
                height: 3rem;
                color: white;
                background-color: $primarycolor;

                @include desktop {
                    height: 4rem;
                    width: 50%;
                }
            }
        }
    }

    .user__recipes {
        display: flex;
        flex-direction: column;
        width: 80vw;

        &--nav {
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            justify-content: center;

            button {
                color: white;
                background-color: $primarycolor;
                right: 2rem;

                @include desktop {
                    width: 30%;
                    height: 4rem;
                }

                &:hover {
                    background-color: $primarycolorTransparent;
                }
            }
        }

        .recipe__add {
            margin-top: 3rem;
            border: 1px solid rgb(187, 187, 187);

            @include desktop {
                width: 60%;
                align-self: center;
            }

            .form__recipe {
                padding: 1rem;
                display: flex;
                flex-direction: column;

                @include desktop {
                    margin: 2rem 5rem;
                }

                label {
                    margin: 0.5rem 0 0 0;
                    font-size: 1.3rem;

                    @include desktop {
                        font-size: 1.8rem;
                    }
                }

                input {
                    margin: 0.5rem 0;

                    @include desktop {
                        height: 2.4rem;
                    }
                }

                select {
                    margin: 1rem 0;

                    @include desktop {
                        height: 2.8rem;
                    }
                }

                textarea {
                    height: 15rem;
                    resize: none;
                }

                .recipe__maininfo {
                    display: flex;
                    flex-direction: column;

                    &--header {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        border-bottom: 1px solid rgb(157, 157, 157);

                        button {
                            height: 2rem;
                            background-color: $primarycolor;
                            border: 1px solid rgb(167, 167, 167);
                            width: 4rem;
                            border-radius: 0.5rem;
                            color: white;
                        }
                    }
                    .add__contents {
                        display: flex;
                        flex-direction: column;
                        padding: 1rem;
                        border: 1px solid rgb(182, 182, 182);
                        margin: 1rem 0;
                    }
                }

                .recipe-description__btn {
                    background-color: $primarycolor;
                    width: 70vw;
                    align-self: center;
                    color: white;

                    @include desktop {
                        margin-top: 3rem;
                        width: 40%;
                        height: 5rem;
                    }
                }
            }
        }
    }

    &--recipes {
        display: flex;
        flex-direction: column;
        padding: 2rem;

        .user__info {
            display: flex;
            flex-direction: column;
            align-items: center;

            img {
                width: 60%;
                height: 60%;
                border-radius: 50%;

                @include desktop {
                    width: 30%;
                }
            }
        }

        .user-recipes__container {
            display: flex;
            flex-wrap: wrap;
            gap: 2rem;

            @include desktop {
                gap: 2rem;
            }

            .recipe__container {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 2rem;
                border: 1px solid rgb(170, 170, 170);
                border-radius: 1rem;
                background-color: white;
                height: 25rem;
                width: 30rem;

                @include desktop {
                    height: 40rem;
                    width: 40rem;
                }

                img {
                    width: 100%;
                    border: 1px solid rgb(138, 138, 138);
                    max-height: 80%;
                }
            }
        }
    }
}
