.user__login {
    form {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 2rem;

        @include desktop {
            align-items: center;
        }

        label {
            margin: 1rem 0;
            font-size: 1.2rem;

            @include desktop {
                width: 50%;
                height: 2rem;
                font-size: 2rem;
            }
        }

        input {
            @include desktop {
                width: 50%;
                height: 3rem;
            }
        }

        .login__btn {
            margin-top: 2rem;
            background-color: $primarycolor;
            color: white;
            align-self: center;

            @include desktop {
                width: 50%;
                height: 5rem;
                margin-top: 5rem;
            }
        }
    }
}

.user__signup {
    form {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 2rem;

        @include desktop {
            align-items: center;
        }

        label {
            margin: 1rem 0;
            font-size: 1.2rem;

            @include desktop {
                width: 50%;
                height: 2rem;
                font-size: 2rem;
            }
        }

        input {
            @include desktop {
                width: 50%;
                height: 3rem;
            }
        }

        .signup__btn {
            margin-top: 2rem;
            background-color: $middleterciarycolor;
            color: white;

            @include desktop {
                width: 50%;
                height: 5rem;
                margin-top: 5rem;
            }
        }
    }
}
